.card {
    width: 33.33333%;
    height: 30vw;
    position: relative;
    overflow: hidden;

    &:hover .card__overlay {
        left: 0;
        cursor: pointer;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: -100%;
        // background-color: rgba($color: blue, $alpha: .4);
        background-color: rgba($color: $color__portfolio1, $alpha: .6);
        color: $color__white;
        z-index: 10;
        @include flexLayout;
        flex-direction: column;
        @extend %fullspace;
        transition: left .7s;

        &--heading {
            font-family: $font__primary;
            font-size: 5rem;
        }
        &--paragraph {
            font-size: 3rem;
        }
    }
     
} 