.img__nav, .hamburger-menu {
  width: 100%;
  height: 100%; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  box-sizing: border-box; }
  @media all and (min-width: 600px) and (orientation: portrait) {
    body {
      background-color: darkgreen; } }
  @media all and (min-width: 600px) and (orientation: landscape) {
    body {
      background-color: darkorange; } }
  @media all and (min-width: 1100px) {
    body {
      background-color: darkmagenta; } }

.hamburger {
  width: 4rem;
  height: 4rem;
  position: fixed;
  top: 7%;
  right: 5%;
  z-index: 300; }
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    transition: transform .5s; }
    .hamburger-menu__line {
      width: 100%;
      height: 4px;
      background-color: green;
      transform-origin: right;
      transition: all .5s .3s; }

.checkbox:checked ~ .hamburger .hamburger-menu {
  transform: rotateZ(90deg); }

.checkbox:checked ~ .hamburger .hamburger-menu__line--1 {
  transform: rotateZ(-40deg); }

.checkbox:checked ~ .hamburger .hamburger-menu__line--2 {
  opacity: 0; }

.checkbox:checked ~ .hamburger .hamburger-menu__line--3 {
  transform: rotateZ(40deg); }

.navbar {
  position: relative;
  z-index: 200; }
  .navbar__nav {
    display: flex; }
    .navbar__nav--left {
      width: 50vw;
      height: 100vh;
      background-color: aquamarine;
      position: fixed;
      left: -50vw;
      transition: left 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
    .navbar__nav--right {
      width: 50vw;
      height: 100vh;
      background-color: #1f1d1d;
      position: fixed;
      right: -50vw;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: right 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.checkbox:checked ~ .navbar__nav .navbar__nav--left {
  left: 0; }

.checkbox:checked ~ .navbar__nav .navbar__nav--right {
  right: 0; }

.nav__list--item {
  list-style: none; }

.nav__list--link {
  font-family: "Libre Franklin", sans-serif;
  font-size: 5rem;
  color: #00e600;
  text-decoration: none;
  display: block;
  margin: 2rem;
  text-align: center;
  transition: all .5s; }
  .nav__list--link:hover {
    color: green;
    letter-spacing: .4rem; }
