body {
    font-family: $font__primary;
    font-weight: 400;
    line-height: 1.7;
    color: $color__gray-dark;
}

h1,
.h1 {
    font-size: 5rem;
    &__hero {
        font-size: 5rem;
    }
}

h2,
.h2 {
    font-size: 4rem;
    &__course-work {
        text-align: center;
        padding: 4rem;
        font-size: 3rem;
        // background-color: lighten($color: $color__portfolio1, $amount: 40%) ;
    }
}

h3,
.h3 {
    font-size: 3rem;
    &__hero {
        font-size: 1.6rem;
    }
}
h4,
.h4 {
    font-size: 2rem;
    
}

h5,
.h5 {
    font-size: 1.6rem;   
}

a,
p, 
.p {
    font-size: 1.2rem;
    &__hero {
        font-size: 2rem;
        font-style: italic;
    }
}

a {
    color: darken($color: $color__portfolio1, $amount: 20%) ;
}