body {
    font-family: $font__primary;
    font-weight: 400;
    line-height: 1.7;
    color: $color__gray-dark;
}

h1,
.h1 {
    font-size: 5rem;
    &__hero {
        font-size: 5rem;
    }
}

h2,
.h2 {
    font-size: 3rem;
    &__course-work {
        text-align: center;
        padding: 4rem;
    }
}

h3,
.h3 {
    font-size: 1.6rem;
    &__hero {
        font-size: 1.6rem;
    }
}

a,
p, 
.p {
    font-size: 1.2rem;
    &__hero {
        font-size: 2rem;
        font-style: italic;
    }
}