.tabla {
    display: grid;
    // background-color: aqua;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 100vh;
    width: 100vw;
    &__item {
        &--logo {
            grid-row: 1 / 2;
            grid-column: 1 / 4;
            margin: auto;
            margin-left: 4rem;

        }
        &--tabla-pair {
            grid-row: 2 / 7;
            grid-column: 3 / 7;
            // background-color: aqua;
            @media  all and (min-height: 900px) {
                // background-color: aqua;
            }
            @media all and (orientation: portrait){
                // background-color: darkgreen; 
                display: none;    
            }
        }
        &--tabla1 {
            display: none; 
            @media  all and (min-height: 900px) {
                // background-color: aqua;
            }
            @media all and (orientation: portrait){
                // background-color: darkgreen; 
                display: block;  
                // grid-row: 2 / 7;
                // grid-column: 3 / 7;  
            }
        }
        &--tabla2 {
            display: none; 
            @media  all and (min-height: 900px) {
                // background-color: aqua;
            }
            @media all and (orientation: portrait){
                // background-color: darkgreen; 
                display: block; 
                // grid-row: 2 / 7;
                // grid-column: 3 / 7;   
            }
        }
        &--tabla {
            grid-row: 2 / 8;
            grid-column: 1 / 2; 
            // background-color: salmon;
            display: grid;
            align-items: center;
            justify-content: right;
        }
        &--sounds {
            grid-row: 7 / 9;
            grid-column: 2 / 6;
            // background-color: salmon;
            margin: auto;
        }
        &--play {
            grid-row: 7 / 9;
            grid-column: 7 / 9;
            // padding: auto;
            margin: auto;
        }
    }
    
} 
.h1__tabla {
    font-size: 6rem;
    // float: bottom;
    // margin: auto;
    color: burlywood;
    font-family: 'Hanalei', cursive;
    @media  all and (min-height: 700px) {
        // background-color: plum;
        font-size: 8rem;
    }
    @media  all and (min-height: 900px) {
        // background-color: aqua;
        font-size: 11rem;
    }
}
.h3__logo {
    color: $color__scrambled--1;
    font-family: 'Henny Penny', cursive;
    font-size: 2.5rem;
    padding: 3rem;
    margin: auto;
    @media  all and (min-height: 700px) {
        // background-color: plum;
        font-size: 3rem;
        padding: 3rem;
    }
    @media  all and (min-height: 900px) {
        // background-color: aqua;
        font-size: 3.5rem;
        padding: 4rem;
    }
}
.h1__sounds {
    font-size: 6rem;
    font-family: 'Henny Penny', cursive;
    // float: right;
    // padding: 4rem;
    // margin: auto;
    color: rgb(211, 179, 138);
    @media  all and (min-height: 700px) {
        // background-color: plum;
        font-size: 8rem;
    }
    @media  all and (min-height: 900px) {
        // background-color: aqua;
        font-size: 11rem;
    }
}