.course-work {
    // background-color: salmon;
    grid-column: center-start / center-end;
    padding-bottom: 8rem;

   &__grid {
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
       grid-gap: 7rem;
   }
}  

.assignments {
    // background-color: seagreen;
    text-align: center;
    font-size: 2rem;
}
