// COLORS

$color__portfolio1: red;
$color__portfolio2: BLUE;

$color__portfolio1--darken: darken($color__portfolio1, 10%);

$color__gray-dark: #777;
$color__gray-light: rgb(221, 221, 221);
$color__white: #fff;
$color__black: #000;

// FONTS

$font__primary: "Lato", sans-serif;
$font__display: 'Libre Franklin', sans-serif;

