// COLORS

$color__scrambled--1:  green;
$color__scrambled--2:  Orange;

$color__scrambled--1--darken: darken($color__scrambled--1, 10%);

$color__gray-dark: #777;
$color__gray-light: rgb(221, 221, 221);
$color__white: #fff;
$color__black: #000;

// FONTS

$font__primary: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font__display: 'Libre Franklin', sans-serif;

// Responsive Breakpoints
// $bp__Phone-Portrait: 600;
// $bp__Phone-Landscape: 600 to 900;
// $bp__Tablet-Portrait: 600 to 900;
// $bp__Tablet-screen: 900;
