.btn__hero1 { 
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        // padding: 2vh 5vh;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        padding: 1rem 4rem;
        font-size: 2rem;
        font-family: $font__primary;
        // change for the <botton> element
        border:none;
        cursor: pointer;
        &__splash {
            padding: clamp(1rem, 3vh, 4rem) clamp(4rem, 5vh, 6rem);
            font-size: clamp(2rem, 4vh, 4rem);
        }
    }
    &:hover {
        transform:  translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color__black, .2);
        
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color__black, .2);
    } 
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    &--animated {
        animation: moveInBotton .5s ease-out .75s ;
        animation-fill-mode: backwards;
    }
} 

.btn {
    &--white {
        background-color: $color__white;
        color: $color__gray-dark;

        &::after {
            background-color: $color__white;
        }
    }
    &--transparent {
        background-color: transparent;
        color: $color__gray-dark;
        border-bottom: 3px solid $color__scrambled--1;

        &::after {
            background-color: $color__white;
        }
    }
    &__color__scrambled--1 {
        background-color: $color__scrambled--1;
        color: $color__white;
        
        &::after {
            background-color: $color__scrambled--1;
        }
    }
}


// info button

.info {
    
}
