.img {
    @extend %fullspace;
    &__nav {
        @extend %fullspace;

    }
    &__tabla--1 {
        @extend %fullspace;
        object-fit: contain;
        display: block;
    }
    &__spiral {
        width: 40%;     
        padding: 2rem;
        margin: auto;
        @media  screen and (max-width: $break-l) {
            display: none;  
        }
    }
} 

