*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    // this defines that 1rem is
    font-size: 62.5%;
    // @media only screen and (max-width: $bp__Largest) {
    //     font-size: 50%;
    // }
}

body {
    box-sizing: border-box;
    background-color: black;
    // tablet portrait
    // @media all and (min-width:600px) and (orientation: portrait){
    //     background-color: darkgreen;     
    // }
    // //phone landscape
    // @media all and (min-width:600px) and (orientation: landscape){
    //     background-color: darkorange;
    // }
    // //tablet landscape and screen  
    // @media all and (min-width:1100px) {
    //     background-color: darkmagenta;
    // }
} 
