.u-mb-sm { margin-bottom: 2rem !important; }
.u-mb-md { margin-bottom: 3rem !important; }
.u-mb-lg { margin-bottom: 4rem !important; }
.u-mb-hg { margin-bottom: 8rem !important; }

.text__vertical {
    writing-mode: vertical-rl;
    text-orientation: upright;
}  